extends ../layout

block content
  aside
    .info
      h1.display-data= display(ticker.name)
      if (ticker.type == 'Match')
        span Stadion:  #{ticker.match.place}
        span Zuschauer: #{ticker.match.visitors}
        span Schiedsrichter-Team:
        ol
          li= display(ticker.match.officials.first)
          li= display(ticker.match.officials.second)
          li= display(ticker.match.officials.third)
          li= display(ticker.match.officials.fourth)
    
    if (ticker.type == 'Match')
      .matchcard
        .team.home
          span.name= display(ticker.match.team1)
          img(src="/img/_tmp/team1-dummy-logo.png")

        .standing
          span.time 35. Minute
          span.standing 0:2
          span.halftime -:-

        .team.guest
          span.name= display(ticker.match.team2)
          img(src="/img/_tmp/team2-dummy-logo.png")

  main
    ul.stream#stream
      each event in events
        li
          span.minute= display(event.date)
          span.team= display(event.team)
          h3.headline= display(event.headline)
          p.text= display(event.text)