extends ../layout
include ../mixins/form-helpers

block content
  h2.display-data= display(ticker.name)
            
  table.table.table-bordered
    tr
      th Property
      th Value
        tr
          td Name
          td= display(ticker.name)
        tr
          td Date
          td= display(ticker.date)
        tr
          td Description
          td= display(ticker.description)

  table.table.table-bordered#stream
    tr
      th Date
      th Text

    each event in events
        tr
          td= display(event.date)
          td= display(event.text)