extends ../layout

block content
  aside
    h2.display-data= display(ticker.name)
    if (ticker.type == 'Match')
      .well
        p= display(ticker.match.team1)
        p= display(ticker.match.team2)
        p= display(ticker.match.place)
        p= display(ticker.match.visitors)
        p= display(ticker.match.standing)
        p= display(ticker.match.halftimeStanding)
        p= display(ticker.match.officials.first)
        p= display(ticker.match.officials.second)
        p= display(ticker.match.officials.third)
        p= display(ticker.match.officials.fourth)
  main
    ul.stream
      each event in events
        li
          span.minute= display(event.date)
          span.team= display(event.team)
          h3.headline= display(event.headline)
          p.text= display(event.text)